*.vtu
*.pvtu
*.hdf5
*.msh
.env
build
__pycache__
meshes1PROC
*.out
manapy.egg-info
__epyccel__
.idea
meshes*PROC
domain_meshes*PROC
test
Notes

manapy/gpu_fun/_tests/create_system/out
gpu_accelerator/functions/results
mesh/2D/large_carre.msh
mesh/2D/square_larger.msh

tests/domain/primary/mesh/tetrahedron_big.msh
tests/domain/primary/mesh/tetrahedron_big_2.msh
tests/domain/primary/tmp/tmp/
tests/domain/primary/manapy_domain/manapy_part/manapy_domain.egg-info
tests/domain/primary/manapy_domain/metis/metis_example
tests/domain/primary/manapy_domain/manapy_part/GKlib
tests/domain/primary/manapy_domain/manapy_part/METIS
*.so

cuda_cpu_results_saved
benchmark_result
.vagrant
Vagrant/*.log
results
