[submodule "gui/extern/pybind11"]
	path = gui/extern/pybind11
	url = https://github.com/pybind/pybind11/
	branch = stable
[submodule "gui/extern/glfw"]
	path = gui/extern/glfw
	url = https://github.com/glfw/glfw/
