*.vtu
*.pvtu
.env
build
__pycache__
meshes1PROC
*.out
manapy.egg-info
__epyccel__

meshes*PROC
test


manapy/gpu_fun/_tests/create_system/out
gpu_accelerator/functions/results
mesh/2D/large_carre.msh
mesh/2D/square_larger.msh

cuda_cpu_results_saved
benchmark_result
.vagrant
Vagrant/*.log
results